.admin-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #050505;
  color: #fff;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
}

.admin-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 30px 30px;
}
